<%= render '/shared/header' %> 

<br>
<br>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="center-text">
          <h1>Log in</h1>
        </div>
		<%= form_tag("/login", method: "post") do %>
          <div class="col-md-8 col-md-offset-2">
	          <div class="input-group">
	            <%= label_tag :email %>
			    <%= text_field_tag :email, nil, class:'form-control', placeholder:'Enter email' %>
			  </div>
			  <div class="input-group">
			    <%= label_tag :password %>
			    <%= password_field_tag :password, nil, class:'form-control', placeholder:'Enter password' %> 
			  </div>
	          <br>
	          <%= submit_tag "Submit" %>
	      </div>  
		<% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>


<%= render '/shared/footer' %> 