/* line 1, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 23, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 26, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 42, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 5, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/sessions.scss */
.center-text {
  text-align: center;
}
/* line 1, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 6, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 10, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
a {
  color: #00A0FF;
}

/* Header */
/* line 16, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.header {
  padding: 15px 0;
  border-bottom: 1px solid #D9D9DE;
}

/* line 21, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.header ul {
  list-style: none;
  padding-left: 0;
}

/* line 26, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.header li {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  padding: 1px 10px;
}

/* line 33, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.primary li {
  color: #828587;
}

/* line 37, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.logo-main {
  max-width: 178px;
}

/* line 41, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.logo-none:hover {
  color: none;
  background-color: white;
}

/* line 46, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.byline {
  max-width: 183px;
}

/* line 50, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.user-menu {
  position: absolute;
  top: 10px;
  right: 5px;
}

/* Jumbotron */
/* line 57, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.jumbotron {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #f7fafa;
  border-style: none;
  background-image: url("home.jpg");
  height: 500px;
  width: 100%;
}

/* line 68, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.jumbotron video {
  width: 100%;
}

/* line 72, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.jumbotron .content {
  position: absolute;
  top: 180px;
  width: 100%;
  text-align: center;
  color: #fff;
}

/* line 80, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.jumbotron h1 {
  font-weight: 200;
  margin: 0 0 40px 0;
}

/* line 85, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.btn {
  font-size: 16px;
  font-weight: bold;
}

/* line 91, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.btn-kickstarter,
.btn-kickstarter:hover {
  background-color: #2bde73;
  color: #fff;
  padding: 15px 20px;
}

/* line 97, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-status {
  display: inline-block;
  width: 100%;
}

/* line 102, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.status-item {
  width: 60px;
  display: inherit;
}

/* Staff picks */
/* line 108, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks {
  background-color: #f7fafa;
  border-bottom: 1px solid #d9d9de;
  padding: 20px 0;
}

/* line 114, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .content {
  padding-right: 50px;
}

/* line 119, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .content h2,
.popular h2 {
  color: #0f2105;
  font-size: 22px;
  margin: 0;
  font-weight: normal;
  padding: 30px 0;
}

/* line 127, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .content .see-all a {
  color: #828587;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 33px 0;
  text-decoration: none;
}

/* line 136, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .content .title {
  color: #0f2105;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

/* line 143, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .content .description {
  color: #828587;
  margin: 20px 0 30px 0;
}

/* line 148, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .content .author {
  color: #828587;
  font-size: 12px;
  margin: 4px 0;
}

/* line 154, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .content .meta {
  padding: 0;
  list-style: none;
}

/* line 159, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.glyphicon {
  margin-right: 5px;
}

/* line 163, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .content .meta li {
  display: inline;
  font-size: 12px;
  color: #828587;
  margin-right: 20px;
}

/* line 171, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .content h4,
.staff-picks .content h5 {
  margin: 0;
}

/* line 175, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .content h4 {
  font-size: 16px;
  color: #0F2105;
  margin-bottom: 5px;
}

/* line 181, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .content h5 {
  font-size: 12px;
  color: #828587;
}

/* line 186, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .nav {
  border-left: 1px solid #d9d9de;
}

/* line 190, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .nav ul {
  list-style: none;
  padding-left: 20px;
}

/* line 195, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .nav li {
  font-size: 14px;
  padding: 2px 0;
}

/* line 201, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.staff-picks .progress,
.project .progress {
  height: 10px;
}

/* line 205, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.progress {
  background-color: #d9d9de;
}

/* line 209, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.progress-bar-success {
  background-color: #2bde73;
}

/* Popular */
/* line 214, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.popular {
  padding: 20px 0;
}

/* line 218, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.thumbnail {
  padding: 0;
  overflow-x: hidden;
}

/* line 223, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.thumbnail {
  margin: 0;
}

/* line 228, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.thumbnail-img-container {
  height: 218px;
  overflow: hidden;
  width: 100%;
}

/* line 235, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.popular .title {
  color: #0f2105;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

/* line 242, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.popular .author {
  color: #828587;
  font-size: 12px;
  margin: 0 0 10px 0;
}

/* line 248, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.popular .description {
  color: #828587;
  font-size: 12px;
}

/* line 253, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.popular .meta {
  padding: 0;
  list-style: none;
}

/* line 258, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.popular .meta li {
  display: inline;
  font-size: 12px;
  color: #828587;
  margin-right: 20px;
}

/* line 265, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.popular h4 {
  font-size: 12px;
  color: #0F2105;
  font-weight: bold;
  margin: 0;
}

/* line 272, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.popular h5 {
  font-size: 12px;
  color: #828587;
  margin: 0;
}

/* line 278, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.popular .progress {
  height: 6px;
}

/* Discover */
/* line 283, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.discover {
  padding: 40px 0;
}

/* line 287, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.discover .container {
  padding: 60px 0;
  background-color: #e8f6ff;
  border: 1px solid #D9D9DE;
  border-radius: 2px;
  text-align: center;
}

/* line 295, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.discover h2 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 40px;
}

/* line 301, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.btn-facebook {
  background-color: #3b5998;
  color: #fff;
  padding: 15px 20px;
}

/* Feature */
/* line 308, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.feature {
  border-top: 1px solid #D9D9DE;
  background-color: #def7e0;
  padding: 60px 0;
  text-align: center;
}

/* line 315, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.feature h2 {
  font-size: 32px;
  font-weight: normal;
  margin: 0 0 20px 0;
}

/* line 321, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.feature p {
  color: #828587;
  margin: 0;
  font-size: 16px;
}

/* line 328, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.feature .btn-kickstarter,
.feature .btn-kickstarter:hover {
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 20px;
}

/* Subjects */
/* line 335, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.subjects {
  text-align: center;
  padding: 40px 0;
}

/* line 341, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.subjects h1 {
  font-size: 48px;
  font-weight: 200;
  margin: 0px 0 20px 0;
  color: #0F2105;
}

/* line 348, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.subjects p {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #0F2105;
}

/* line 356, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.subjects h3,
.subjects a:hover {
  color: #828587;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
}

/* line 364, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.subjects .thumbnail {
  padding: 38px 0;
}

/* Project */
/* line 369, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project {
  margin: 40px 0;
}

/* line 372, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project .container {
  border: 1px solid #D9D9DE;
  border-radius: 2px;
}

/* line 377, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project .col-xs-5 {
  padding-left: 0;
}

/* line 381, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project .title {
  font-size: 22px;
  font-weight: normal;
  color: #0f2105;
  margin: 20px 0 10px 0;
}

/* line 388, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project .description {
  margin-bottom: 30px;
}

/* line 392, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project .author {
  margin-bottom: 40px;
}

/* line 396, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project h4 {
  font-size: 16px;
  color: #0F2105;
  margin: 0;
}

/* line 402, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project h5 {
  font-size: 12px;
  color: #828587;
  margin: 0;
}

/* Promo */
/* line 409, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.promo {
  margin-top: 30px;
  background-color: #f7fafa;
  border-top: 1px solid #d9d9de;
}

/* line 415, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.promo .col-md-4 + .col-md-4 {
  border-left: 1px solid #D9D9DE;
}

/* line 419, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.promo h2 {
  padding: 100px 0;
  text-align: center;
}

/* Project content */
/* line 425, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.wrap {
  background-color: #f7fafa;
}

/* line 429, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .title {
  font-size: 32px;
  text-align: center;
  margin-top: 40px;
}

/* line 435, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .author {
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}

/* line 441, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .project-body {
  border: 1px solid #D9D9DE;
  background-color: #fff;
}

/* line 446, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .project-nav ul {
  padding: 10px 20px;
  margin: 0;
  list-style: none;
}

/* line 452, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .project-nav li {
  display: inline;
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
  padding: 10px 0;
}

/* line 460, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .project-nav li.active {
  border-bottom: 5px solid #2BDE73;
}

/* line 464, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .project-body {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 40px;
}

/* line 470, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content img {
  width: 100%;
}

/* line 474, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .subheading {
  font-size: 22px;
  margin: 20px 0;
}

/* line 479, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .project-body .subheading {
  font-size: 22px;
  margin: 20px 0;
}

/* line 484, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .project-body h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

/* line 489, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .project-body p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* line 494, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .stats h5 {
  font-size: 14px;
  margin-bottom: 20px;
}

/* line 499, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .stats .btn {
  display: block;
  padding: 20px;
}

/* line 504, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .stats .btn span {
  color: #0F2105;
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
}

/* line 512, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .pledges {
  background-color: #f7fafa;
  margin-top: 20px;
}

/* line 518, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.pledge {
  width: 100%;
  line-height: 100%;
  padding: 10px;
  color: black;
}

/* line 526, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.pledge:hover {
  background-color: green !important;
  color: white !important;
}

/* line 531, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .pledge a:hover {
  text-decoration: none;
}

/* line 536, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .pledge + .pledge {
  border-top: 1px solid #d9d9de;
}

/* line 543, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .pledge h5,
.project-content .pledge p,
.project-content .funding-period h5,
.project-content.funding-period p {
  font-size: 14px;
}

/* line 547, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-content .funding-period {
  margin-top: 20px;
}

/* Footer */
/* line 553, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.footer {
  background-color: #0f2105;
  color: #fff;
}

/* line 558, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.footer h5 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

/* line 564, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.footer ul {
  padding: 0;
  list-style: none;
}

/* line 569, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.footer li {
  color: #D9D9DE;
}

/* line 573, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.footer .links {
  border-bottom: 1px solid #fff;
  padding: 40px 0 20px 0;
}

/* line 578, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.footer .bottom {
  color: #828587;
  font-size: 14px;
  padding: 40px 0;
}

/* line 584, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.edit-container {
  margin-left: 10px;
}

/* line 588, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.project-container {
  margin-left: 20px;
}

@media screen and (max-width: 400px) {
  /* line 593, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
  .status-item {
    width: 46px;
    padding-right: 3px;
  }

  /* line 598, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
  .status-item h4 {
    font-size: 12px;
  }

  /* line 602, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
  .status-item h5 {
    font-size: 10px;
  }
}
@media screen and (max-width: 765px) and (min-width: 498px) {
  /* line 607, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
  .thumbnail-img-container img {
    margin-top: -90px !important;
  }
}
/* Forms */
/* line 613, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
form {
  padding: 20px;
}

/* line 617, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.field {
  font-size: 16px;
}

/* line 621, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
input[type="submit"] {
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  background-color: #2bde73;
  color: #fff;
}

/* line 631, /home/bolita/RubyOnRails/kickstarter/kickstarter/app/assets/stylesheets/style.scss */
.actions input:hover {
  background-color: #1b8746;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

