<%= render '/shared/header' %>

<br>
<br>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-3">
        <div class="center-text">
          <h1>Sign Up!</h1>
        </div>
		<%= form_for :user, url: '/users' do |f| %>
          <div class="form-group">
            <%= f.label :name %>
		    <%= f.text_field :name, class: 'form-control', placeholder: 'Enter your name' %> 
		  </div>
		  <div class="form-group">
		    <%= f.label :email %>
		    <%= f.text_field :email, class: 'form-control', placeholder: 'Enter email' %>
		  </div>
		  <div class="form-group">
            <%= f.label :password %>
		    <%= f.password_field :password, class: 'form-control', placeholder: 'Enter password' %> 
		  </div>
		  <div class="form-group">
		    <%= f.label :password_confirmation %>
		    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Enter password confirmation' %> 
		  </div>
		  <%= f.submit %> 

		<% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<%= render '/shared/footer' %>