<!-- Header -->

<html>
  <head>
    <link href="css/bootstrap.css" rel='stylesheet'>
    <link href="css/style.css" rel='stylesheet'>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="col-md-2 logo-main">
          <%= link_to image_tag("logo.png", size: "161x20"), root_path, :class => "logo-none"  %>
        </div>
        <div class="col-md-3 byline">
          <ul class="primary">
            <li>Discover</li>
            <li>Start</li>
          </ul>
        </div>
        <div class="user-menu">
        </div>
      </div>
    </div>
