<%= render '/shared/header' %> 

<br>
<br>
<br>
<br>

<h1>New Project</h1>

<%= render 'form' %>

<%= link_to 'Back', projects_path, :class => "btn btn-kickstarter btn-sm" %>

<br>
<br>
<br>
<br>

<%= render '/shared/footer' %> 