<%= render '/shared/header' %>

<p id="notice"><%= notice %></p>

    <div class="wrap">
      <div class="project-content">
        <div class="container">
          <h1 class="title"><%= @project.title %></h1>
          <p class="author"><%= @project.creator %></p>
          <div class="project-nav">
            <ul>
              <li class="active">Home</li>
              <li>Comments <span class="label label-default"></span></li>
          </div>
          <div class="project-body">
            <div class="row">
              <div class="col-md-8">
                <img class="img-responsive" src=<%=@project.image %>>
                <p class="subheading"></p>
                <h1> <%= @project.title %> </h1>
                <p><%= @project.description %></p>
              </div>
              <div class="col-md-4">
                <div class="stats">
                  <h1><%= number_to_currency(@project.total) %></h1>
                  <h5>pledged of <h5>
                  <h1> <%= number_to_currency(@project.goal) %></h1>
                  <h5>goal<h5>
                  <h1>4</h1>
                  <h5>days to go</h5>
            </div>
          </div>
      </div>
    </div>


<%= render '/shared/footer' %>
