<%= form_for(@subject, url: subject_path(:id => @subject.id), html: { :method => :delete}) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <div class=".form-group-lg floating-label-form-group controls">
    <div class="field">
    <%= f.label :name, 'Subject name:' %><br>
    <%= @subject.name %>
    </div>
  <div class="actions">
    <%= f.submit "Delete Subject" %>
  </div>
</div>
</div>
<% end %>