<%= render '/shared/header' %> 

<br>
<br>
<br>
<br>

<h1>Delete Project</h1>

<%= render 'form_delete' %>

<%= link_to 'Back', subject_path, :class => "btn btn-kickstarter btn-sm" %>

<br>
<br>
<br>
<br>

<%= render '/shared/footer' %>