<%= render '/shared/header' %>

<p id="notice"><%= notice %></p>

    <div class="subjects">
      <div class="container">
        <h1>Explore an innovative creative universe</h1>
        <p>15 diverse categories. Thousands of amazing projects.</p>

        <div class="row">
          <% @subjects.in_groups_of(5).each do |subject_group| %>
            <div class="row">
              <div class="col-md-1"></div>
              <% subject_group.each do |subject| %>
                <% next if subject.nil? %>
                <div class="col-md-2">
                  <%= link_to(subject, {class: "thumbnail"}) do %>
                    <h3><%= subject.name %></h3>
                    <% if current_user && current_user.admin? %>
                      <td><%= link_to 'Show', subject %></td>
                      <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
                      <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
              <div class="col-md-1"></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="project">
      <div class="container">
        <div class="row">
          <div class="col-xs-5">
            <img src="http://bit.ly/1A94h5v" width="100%">
          </div>
          <div class="col-xs-7">
            <h3 class="title">Title goes here</h3>
            <p class="author">by Author Here</p>
            <p class="description">Description goes here</p>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
            <div class="project-status">
              <div class="status-item">
                <h4>60%</h4>
                <h5>funded</h5>
              </div>
              <div class="status-item">
                <h4>$18,246</h4>
                <h5>pledged</h5>
              </div>
              <div class="status-item">
                <h4>187</h4>
                <h5>backers</h5>
              </div>
              <div class="status-item">
                <h4>11</h4>
                <h5>days to go</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>



<%= render '/shared/footer' %>
