<%= render '/shared/header' %> 


<h1><%= @subject.name %></h1>
  <% @projects = @projects.to_a %>
  <% first = @projects.shift %>

    <% if first %>
    <div class="project">
      <div class="container">
        <div class="row">
          <div class="col-xs-5">
            <%= link_to project_show_path(@subject, first) do %> 
            <img src="<%= first.image %>" width="100%">
            <% end %>
          </div>
          <div class="col-xs-7">
            <h3 class="title"><%= first.title %></h3>
            <p class="author"><%= first.creator %></p>
            <p class="description"><%= first.description %></p>
            <div class="progress">
              <% progress = (first.total / first.goal).to_i %>
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only"><%= progress %>% Complete (success)</span>
              </div>
            </div>                
          </div>

          <div class="col-xs-1">
            <h4><%= progress %>%</h4>
            <h5>funded</h5>
          </div>
          <div class="col-xs-1">
            <h4>$<%= first.total %></h4>
            <h5>pledged</h5>
          </div>
          <div class="col-xs-2">
            <h4><%= distance_of_time_in_words(Time.now, Time.now + 30.days) %></h4>
            <h5>days to go</h5>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% @projects.in_groups_of(3).each do |projects_group| %>
      <div class="container">
        <div class="row">
          <% projects_group.each do |project| %>
            <% next unless project %>
            <div class="col-sm-4">
              <div class="thumbnail">
                <img src="<%= project.image %>">
                <div class="caption">
                  <h3 class="title"><%= project.title %></h3>
                  <p class="author"><%= project.creator %></p>
                  <p class="description"><%= project.description %></p>
                  
                  <div class="progress">
                    <% progress = (project.total / project.goal).to_i %>
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only"><%= project %>% Complete (success)</span>
                    </div>
                  </div> 

                  <div class="row">
                    <div class="col-xs-3">
                      <h4><%= progress %>%</h4>
                      <h5>funded</h5>
                    </div>
                    <div class="col-xs-3">
                      <h4>$<%= project.total %></h4>
                      <h5>pledged</h5>
                    </div>
                    <div class="col-xs-3">
                      <h4><%= distance_of_time_in_words(Time.now, Time.now + 30.days) %></h4>
                      <h5>days to go</h5>
                    </div>                
                  </div>
                </div>
              </div>
            </div>
            <% end %>
      </div>
    </div>
    <% end %>

    <div class="promo">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Success</h2>
          </div>
          <div class="col-md-4">
            <h2>Community</h2>
          </div>
          <div class="col-md-4">
            <h2>Start</h2>
          </div>
        </div>
      </div>
    </div>



<%= render '/shared/footer' %> 
